/**
 * Autocomplete images.
 */
.ac-img {
	width: 60px;
	height: 60px;

	margin-right: 6px;
}

/**
 * Autocomplete text.
 */
.ac-txt {
	vertical-align: top;
}

.menu-item {
	padding: 3px 0 3px 0;
}


